<!DOCTYPE html>
<html>
  <head>
    <title>Esse aqui é o PandaPlayer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header class="header">
  		PandaPlayer
    </header>
     <%= yield %>
  </body>

</html>
